.row{
    background-color:#383838;
    color:white;
    font-size:20px;
    display: flex;
    justify-content: space-around;
    
}
.headshot{
    width:20%;
   
}
.mid{
    display: flex;
    background-color:white;
    color:black;
    align-items:center;
    font-size:30px;
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Ubuntu', sans-serif;
}
#pic{
    width: 100%;
}
.tiles{
    border-radius: 5px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.tiles:hover{
    box-shadow: 0px 5px 5px 2px #000;
    transition: box-shadow 0.5s ease-out;
}
.about{
    display: flex;
    justify-content: center;
    width: 100%;
}
#center{
    font-size: 10px;
    background-color:#383838;
    display: flex;
    justify-content: center;
    color: #fff;
}
a { 
    color: inherit; 
} 
h1{
    display: flex;
    justify-content: center;
}
#contitle{ 
    font-size: 55px;
}
#abotitle{ 
    font-size: 55px;
}
.center{
    
}